// ObjectWindows - (C) Copyright 1991 by Borland International

#include "windows.h"
#include "owlrc.h"

rcinclude filedial.dlg

BITMAPSCROLL  MENU LOADONCALL MOVEABLE PURE DISCARDABLE 
BEGIN
  POPUP "&File"
  BEGIN
    MenuItem  "&Open...", CM_FILEOPEN
    MenuItem  SEPARATOR
    MenuItem  "E&xit", CM_EXIT
  END
END
